<html>

<head>
  <title>房产税纳税申报表</title>
  <link rel="stylesheet" type="text/css" href="/static/common/frame/taxTable/taxTable.css">
</head>

<body "">
<div  id="taxTable">
  <div v-for="items in json" >
    <table cellspacing="0" cellpadding="0" width="2006" height="622">
      <tr>
        <td width="1902" height="46" align="center" valign="middle" colspan="13" class="noBorder">
          <B>房产税纳税申报表</B>
        </td>
      </tr>
      <tr>
        <td width="1902" height="22" align="center" valign="middle" colspan="13" class="noBorder">税款所属时间：<span v-date>{{bt.sbSbxxBbmx.sssqQ}}</span>至<span v-date>{{bt.sbSbxxBbmx.sssqZ}}</span></td>
      </tr>
      <tr>
        <td width="1902" height="22" align="left" valign="middle" colspan="13" class="noBorder">纳税人识别号（统一社会信用代码）：{{bt.customerStateTaxInfo.nsrsbh}}</td>
      </tr>
      <tr>
        <td width="1902" height="22" align="left" valign="middle" colspan="13" class="noBorder">纳税人名称（公章）：{{bt.customerStateTaxInfo.nsrmc}}</td>
      </tr>
      <tr>
        <td width="986" height="22" align="left" valign="middle" colspan="7" class="noBorder">填表日期：<span v-date>{{bt.sbSbxxBbmx.saveTime}}</span></td>
        <td width="916" height="22" align="right" valign="middle" colspan="6" class="noBorder">金额单位：元至角分；面积单位：平方米</td>
      </tr>
      <tr>
        <td width="72" height="88" align="center" valign="middle" rowspan="4">纳税人信息</td>
        <td width="161" height="22" align="center" valign="middle">名称</td>
        <td width="753" height="22" align="left" valign="middle" colspan="5">{{items.list[0].nsrmc}}</td>
        <td width="329" height="22" align="center" valign="middle" colspan="2">纳税人分类</td>
        <td width="321" height="22" align="left" valign="middle" colspan="2">
          <input type="checkbox" name="K6" value="ON" :checked="items.list[0].nsrlx === '1'" disabled>单位
        </td>
        <td width="266" height="22" align="left" valign="middle" colspan="2">
          <input type="checkbox" name="M6" value="ON" :checked="items.list[0].nsrlx === '2'" disabled>个人
        </td>
      </tr>
      <tr>
        <td width="161" height="22" align="center" valign="middle">登记注册类型</td>
        <td width="320" height="22" align="left" valign="middle" colspan="2">{{items.list[0].djzclxDm}}</td>
        <td width="155" height="22" align="center" valign="middle">隶属关系</td>
        <td width="278" height="22" align="left" valign="middle" colspan="2">{{items.list[0].lsgx}}</td>
        <td width="329" height="22" align="center" valign="middle" colspan="2">所属行业</td>
        <td width="587" height="22" align="left" valign="middle" colspan="4">{{items.list[0].sshyDm}}</td>
      </tr>
      <tr>
        <td width="161" height="22" align="center" valign="middle">身份证照类型</td>
        <td width="753" height="22" align="left" valign="middle" colspan="5">{{items.list[0].sfzjlxDm}}</td>
        <td width="329" height="22" align="center" valign="middle" colspan="2">身份证件号码</td>
        <td width="587" height="22" align="left" valign="middle" colspan="4">{{items.list[0].sfzjHm}}</td>
      </tr>
      <tr>
        <td width="161" height="22" align="center" valign="middle">联系人</td>
        <td width="753" height="22" align="left" valign="middle" colspan="5">{{items.list[0].lxr}}</td>
        <td width="329" height="22" align="center" valign="middle" colspan="2">联系方式</td>
        <td width="587" height="22" align="left" valign="middle" colspan="4">{{items.list[0].lxfs}}</td>
      </tr>
      <tr>
        <td width="393" height="44" align="center" valign="middle" colspan="3" rowspan="2">本期是否适用增值税小规模纳税人减征政策（减免性质代码：08049901）</td>
        <td width="160" height="44" align="left" valign="middle" rowspan="2">
          <input type="checkbox" name="E10" value="ON" :checked="items.list[0].jzzc === 'Y'" disabled>是
        </td>
        <td width="155" height="44" align="left" valign="middle" rowspan="2">
          <input type="checkbox" name="F10" value="ON" :checked="items.list[0].jzzc === 'N'" disabled>否
        </td>
        <td width="423" height="22" align="center" valign="middle" colspan="3">本期适用增值税小规模纳税人减征政策起始时间</td>
        <td width="351" height="22" align="left" valign="bottom" colspan="2"><span v-date>{{items.list[0].jzzcsjq}}</span></td>
        <td width="154" height="44" align="center" valign="middle" rowspan="2">减征比例（％）</td>
        <td width="266" height="44" align="left" valign="middle" colspan="2" rowspan="2">{{(items.list[0].jzbl*100).toFixed(2)}}%</td>
      </tr>
      <tr>
        <td width="423" height="22" align="center" valign="middle" colspan="3">本期适用增值税小规模纳税人减征政策终止时间</td>
        <td width="351" height="22" align="left" valign="bottom" colspan="2"><span v-date>{{items.list[0].jzzcsjz}}</span></td>
      </tr>
      <tr>
        <td width="1902" height="22" align="center" valign="middle" colspan="13">
          <B style="font-size:14px">一、从价计征房产税</B>
        </td>
      </tr>
      <tr>
        <td width="72" height="35" align="left" valign="middle">&nbsp;</td>
        <td width="161" height="35" align="center" valign="middle">房产编号</td>
        <td width="160" height="35" align="center" valign="middle">房产原值</td>
        <td width="160" height="35" align="center" valign="middle">其中：出租房产原值<br></td>
        <td width="155" height="35" align="center" valign="middle">计税比例</td>
        <td width="133" height="35" align="center" valign="middle">税率</td>
        <td width="145" height="35" align="center" valign="middle">所属期起</td>
        <td width="145" height="35" align="center" valign="middle">所属期止</td>
        <td width="184" height="35" align="center" valign="middle">本期应纳税额</td>
        <td width="167" height="35" align="center" valign="middle">本期减免税额</td>
        <td width="154" height="35" align="center" valign="middle">本期增值税小规模纳税人减征额</td>
        <td width="131" height="35" align="center" valign="middle">本期已缴税额</td>
        <td width="135" height="35" align="center" valign="middle">本期应补（退）税额</td>
      </tr>
      <tr v-for="(item,index) in items.listZb1" :key="item.id">
        <td width="72" height="22" align="center" valign="middle">00{{index+1}}</td>
        <td width="161" height="22" align="left" valign="middle">{{item.fybh}}</td>
        <td width="160" height="22" align="right" valign="middle">{{item.fcyz==null?'':item.fcyz.toFixed(2)}}</td>
        <td width="160" height="22" align="right" valign="middle">{{item.czwyz==null?'':item.czwyz.toFixed(2)}}</td>
        <td width="155" height="22" align="right" valign="middle">{{(item.jsbl*100).toFixed(2)}}%</td>
        <td width="133" height="22" align="right" valign="middle">{{(item.sl1*100).toFixed(4)}}%</td>
        <td width="145" height="22" align="left" valign="middle"><span  v-date>{{item.ssqq}}</span></td>
        <td width="145" height="22" align="left" valign="middle"><span  v-date>{{item.ssqz}}</span></td>
        <td width="184" height="22" align="right" valign="middle">{{item.ynse==null?'':item.ynse.toFixed(2)}}</td>
        <td width="167" height="22" align="right" valign="middle">{{item.jmse==null?'':item.jmse.toFixed(2)}}</td>
        <td width="154" height="22" align="right" valign="middle">{{item.xgmjze==null?'':item.xgmjze.toFixed(2)}}</td>
        <td width="131" height="22" align="right" valign="middle">{{item.yjse==null?'':item.yjse.toFixed(2)}}</td>
        <td width="135" height="22" align="right" valign="middle">{{item.ybtse==null?'':item.ybtse.toFixed(2)}}</td>
      </tr>
      <tr>
        <td width="72" height="22" align="center" valign="middle">合计</td>
        <td width="161" height="22" align="center" valign="middle">*</td>
        <td width="160" height="22" align="right" valign="middle">{{items.list[0].fcyzCjhj==null?'':items.list[0].fcyzCjhj.toFixed(2)}}</td>
        <td width="160" height="22" align="right" valign="middle">{{items.list[0].czwyzCjhj==null?'':items.list[0].czwyzCjhj.toFixed(2)}}</td>
        <td width="155" height="22" align="center" valign="middle">*</td>
        <td width="133" height="22" align="center" valign="middle">*</td>
        <td width="145" height="22" align="center" valign="middle">*</td>
        <td width="145" height="22" align="center" valign="middle">*</td>
        <td width="184" height="22" align="right" valign="middle">{{items.list[0].ynseCjhj==null?'':items.list[0].ynseCjhj.toFixed(2)}}</td>
        <td width="167" height="22" align="right" valign="middle">{{items.list[0].jmseCjhj==null?'':items.list[0].jmseCjhj.toFixed(2)}}</td>
        <td width="154" height="22" align="right" valign="middle">{{items.list[0].xgmjzeCjhj==null?'':items.list[0].xgmjzeCjhj.toFixed(2)}}</td>
        <td width="131" height="22" align="right" valign="middle">{{items.list[0].yjseCjhj==null?'':items.list[0].yjseCjhj.toFixed(2)}}</td>
        <td width="135" height="22" align="right" valign="middle">{{items.list[0].ybtseCjhj==null?'':items.list[0].ybtseCjhj.toFixed(2)}}</td>
      </tr>
      <tr>
        <td width="1902" height="22" align="center" valign="middle" colspan="13">
          <B style="font-size:14px">二、从租计征房产税</B>
        </td>
      </tr>
      <tr>
        <td width="72" height="35" align="left" valign="middle">&nbsp;</td>
        <td width="321" height="35" align="center" valign="middle" colspan="2">本期申报租金收入</td>
        <td width="160" height="35" align="center" valign="middle">税率</td>
        <td width="155" height="35" align="center" valign="middle">所属期起</td>
        <td width="133" height="35" align="center" valign="middle">所属期止</td>
        <td width="145" height="35" align="center" valign="middle">本期应纳税额</td>
        <td width="145" height="35" align="center" valign="middle">本期减免税额</td>
        <td width="351" height="35" align="center" valign="middle" colspan="2">本期已缴税额</td>
        <td width="154" height="35" align="center" valign="middle">本期增值税小规模纳税人减征额</td>
        <td width="266" height="35" align="center" valign="middle" colspan="2">本期应补（退）税额</td>
      </tr>
      <tr v-for="(item,index) in items.listZb2" :key="item.id">
        <td width="72" height="22" align="center" valign="middle">00{{items.listZb1.length+index+1}}</td>
        <td width="321" height="22" align="right" valign="middle" colspan="2">{{item.sbzjsr==null?'':item.sbzjsr.toFixed(2)}}</td>
        <td width="160" height="22" align="right" valign="middle">{{(item.sl1*100).toFixed(4)}}%</td>
        <td width="155" height="22" align="left" valign="middle"><span  v-date>{{item.ssqq}}</span></td>
        <td width="133" height="22" align="left" valign="middle"><span  v-date>{{item.ssqz}}</span></td>
        <td width="145" height="22" align="right" valign="middle">{{item.ynse==null?'':item.ynse.toFixed(2)}}</td>
        <td width="145" height="22" align="right" valign="middle">{{item.jmse==null?'':item.jmse.toFixed(2)}}</td>
        <td width="351" height="22" align="right" valign="middle" colspan="2">{{item.yjse==null?'':item.yjse.toFixed(2)}}</td>
        <td width="154" height="22" align="right" valign="middle">{{item.xgmjze==null?'':item.xgmjze.toFixed(2)}}</td>
        <td width="266" height="22" align="right" valign="middle" colspan="2">{{item.ybtse==null?'':item.ybtse.toFixed(2)}}</td>
      </tr>
      <tr>
        <td width="72" height="22" align="center" valign="middle">合计</td>
        <td width="321" height="22" align="right" valign="middle" colspan="2">{{items.list[0].sbzjsrCzhj==null?'':items.list[0].sbzjsrCzhj.toFixed(2)}}</td>
        <td width="160" height="22" align="center" valign="middle">*</td>
        <td width="155" height="22" align="center" valign="middle">*</td>
        <td width="133" height="22" align="center" valign="middle">*</td>
        <td width="145" height="22" align="right" valign="middle">{{items.list[0].ynseCzhj==null?'':items.list[0].ynseCzhj.toFixed(2)}}</td>
        <td width="145" height="22" align="right" valign="middle">{{items.list[0].jmseCzhj==null?'':items.list[0].jmseCzhj.toFixed(2)}}</td>
        <td width="351" height="22" align="right" valign="middle" colspan="2">{{items.list[0].yjseCzhj==null?'':items.list[0].yjseCzhj.toFixed(2)}}</td>
        <td width="154" height="22" align="right" valign="middle">{{items.list[0].xgmjzeCzhj==null?'':items.list[0].xgmjzeCzhj.toFixed(2)}}</td>
        <td width="266" height="22" align="right" valign="middle" colspan="2">{{items.list[0].ybtseCzhj==null?'':items.list[0].ybtseCzhj.toFixed(2)}}</td>
      </tr>
      <tr>
        <td width="1902" height="22" align="left" valign="middle" colspan="13" class="noBorderBottom">谨声明：本纳税申报表是根据国家税收法律法规及相关规定填报的，是真实的、可靠的、完整的。</td>
      </tr>
      <tr>
        <td width="1000" height="22" align="right" valign="middle" colspan="8" class="noBorderTop noBorderRight">纳税人（签章）：</td>
        <td width="100" height="22" align="left" valign="middle" class="noBorderTop noBorderLeft noBorderRight"></td>
        <td width="802" height="22" align="left" valign="middle" colspan="4" class="noBorderTop noBorderLeft">年 月 日</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td width="233" height="22" align="left" valign="middle" colspan="2">经办人：</td>
        <td width="608" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
        <td width="474" height="22" align="left" valign="middle" colspan="3">受理人：</td>
        <td width="587" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td width="233" height="22" align="left" valign="middle" colspan="2">经办人身份证号：</td>
        <td width="608" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
        <td width="474" height="22" align="left" valign="middle" colspan="3">受理税务机关（章）：</td>
        <td width="587" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td width="233" height="22" align="left" valign="middle" colspan="2">代理机构签章：</td>
        <td width="608" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
        <td width="474" height="22" align="left" valign="middle" colspan="3">受理日期： 年 月 日</td>
        <td width="587" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td width="233" height="22" align="left" valign="middle" colspan="2">代理机构统一社会信用代码：</td>
        <td width="608" height="22" align="left" valign="middle" colspan="4">&nbsp;</td>
        <td width="474" height="22" align="left" valign="middle" colspan="3">&nbsp;</td>
        <td width="587" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
        <td width="10" height="22" align="center" valign="middle" class="noBorder"></td>
      </tr>
    </table>
  </div>
</div>

  <script type="text/javascript" src="/static/common/frame/jquery/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/static/common/frame/vue/vue.js"></script>
  <script type="text/javascript" src="/static/common/frame/taxTable/taxTable.js"></script>
</body>

</html>