<html>

<head>
  <title>印花税纳税申报表</title>
  <link rel="stylesheet" type="text/css" href="/static/common/frame/taxTable/taxTable.css">
</head>

<body "">
  <table cellspacing="0" cellpadding="0" width="2089" height="480" id="taxTable">
    <tr>
      <td width="1949" height="46" align="center" valign="middle" colspan="12" class="noBorder">
        <B>印花税纳税申报表</B>
      </td>
    </tr>
    <tr>
      <td width="1949" height="22" align="center" valign="middle" colspan="12" class="noBorder">税款所属时间：<span v-date>{{bt.sbSbxxBbmx.sssqQ}}</span>至<span v-date>{{bt.sbSbxxBbmx.sssqZ}}</span></td>
    </tr>
    <tr>
      <td width="1949" height="22" align="left" valign="middle" colspan="12" class="noBorder">纳税人识别号（统一社会信用代码）：{{bt.customerStateTaxInfo.nsrsbh}}</td>
    </tr>
    <tr>
      <td width="924" height="22" align="left" valign="middle" colspan="12" class="noBorder">纳税人名称（公章）：{{bt.customerStateTaxInfo.nsrmc}}</td>
    </tr>
    <tr>
      <td width="924" height="22" align="left" valign="middle" colspan="9" class="noBorder">填表日期：<span v-date>{{bt.sbSbxxBbmx.saveTime}}</span></td>
      <td width="521" height="22" align="right" valign="middle" colspan="3" class="noBorder">金额单位：元（列至角分） </td>
    </tr>
    <tr>
      <td width="95" height="66" align="center" valign="middle" rowspan="3">纳税人信息</td>
      <td width="197" height="22" align="center" valign="middle">名称</td>
      <td width="632" height="22" align="left" valign="middle" colspan="4"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].nsrmc}}</span></td>
      <td width="168" height="22" align="center" valign="middle">纳税人类型</td>
      <td width="857" height="22" align="left" valign="middle" colspan="5"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].nsrlx}}</span></td>
    </tr>
    <tr>
     <td width="197" height="22" align="center" valign="middle">登记注册类型 </td>
     <td width="672" height="22" align="left" valign="middle" colspan="4"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].djzclxDm}}</span></td>
     <td width="168" height="22" align="center" valign="middle">所属行业</td>
     <td width="630" height="22" align="left" valign="middle" colspan="5"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].hyDm}}</span></td>
     <td class="noBorder lastCol"></td>
   </tr>
   <tr>
     <td width="197" height="22" align="center" valign="middle">身份证件号码</td>
     <td width="168" height="22" align="left" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].sfzjhm}}</span></td>
     <td width="168" height="22" align="center" valign="middle">身份证件类型</td>
     <td width="336" height="22" align="left" valign="middle" colspan="2"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].sfzjlxDm}}</span></td>
     <td width="168" height="22" align="center" valign="middle">联系方式</td>
     <td width="630" height="22" align="left" valign="middle" colspan="5"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].lxdh}}</span></td>
     <td class="noBorder lastCol"></td>
   </tr>
    <tr>
      <td width="628" height="22" align="center" valign="middle" colspan="4">本期是否适用增值税小规模纳税人减征政策(减免性质代码：09049901)</td>
      <td width="159" height="22" align="left" valign="middle">
        <input type="checkbox" name="F9" value="ON" :checked="json.list[0].bqsfsyxgmyhzc == 'Y'" disabled>是
      </td>
      <td width="137" height="22" align="left" valign="middle">
        <input type="checkbox" name="G9" value="ON" :checked="json.list[0].bqsfsyxgmyhzc == 'N'" disabled>否
      </td>
      <td width="504" height="22" align="center" valign="middle" colspan="3">减征比例（%）</td>
      <td width="521" height="22" align="right" valign="middle" colspan="3">{{json.list[0].phjzbl==null?'':(json.list[0].phjzbl*100).toFixed(2)}}%</td>
    </tr>
    <tr>
      <td width="95" height="60" align="center" valign="middle" rowspan="2">行次</td>
      <td width="197" height="60" align="center" valign="middle" rowspan="2">应税凭证名称</td>
      <td width="168" height="60" align="center" valign="middle" rowspan="2">计税金额或件数<br>1<br></td>
      <td width="327" height="30" align="center" valign="middle" colspan="2">核定征收</td>
      <td width="137" height="60" align="center" valign="middle" rowspan="2">适用<br>税率<br>4<br></td>
      <td width="168" height="60" align="center" valign="middle" rowspan="2">本期应纳税额<br>5=1*4+2*3*4</td>
      <td width="168" height="60" align="center" valign="middle" rowspan="2">本期已缴税额<br>6</td>
      <td width="332" height="30" align="center" valign="middle" colspan="2">本期减免税额</td>
      <td width="189" height="60" align="center" valign="middle" rowspan="2">本期增值税小规模纳税人减征额<br>9</td>
      <td width="168" height="60" align="center" valign="middle" rowspan="2">本期应补（退）税额<br>10＝5－6－8－9<br></td>
    </tr>
    <tr>
      <td width="168" height="30" align="center" valign="middle">核定依据<br>2<br></td>
      <td width="159" height="30" align="center" valign="middle">核定比例<br>3<br></td>
      <td width="168" height="30" align="center" valign="middle">减免性质代码<br>7<br></td>
      <td width="164" height="30" align="center" valign="middle">减免额<br>8<br></td>
    </tr>
    <tr v-for='(item, index) in json.listzb'>
      <td width="95" height="22" align="center" valign="middle">00{{index+1}}</td>
      <td width="197" height="22" align="left" valign="top">{{item.zspmDm}}</td>
      <td width="168" height="22" align="right" valign="middle">{{item.jsje==null?'':item.jsje.toFixed(2)}}</td>
      <td width="168" height="22" align="right" valign="middle">{{item.hdzsHdde==null?'':item.hdzsHdde.toFixed(2)}}</td>
      <td width="168" height="22" align="right" valign="middle">{{item.hdzsHdbl==null?'':(item.hdzsHdbl*100).toFixed(2)}}%</td>
      <td width="168" height="22" align="right" valign="middle">{{item.sysl==null?'':(item.sysl*100).toFixed(4)}}%</td>
      <td width="168" height="22" align="right" valign="middle">{{item.bqynse==null?'':item.bqynse.toFixed(2)}}</td>
      <td width="168" height="22" align="right" valign="middle">{{item.bqyjse1==null?'':item.bqyjse1.toFixed(2)}}</td>
      <td width="168" height="22" align="left" valign="top">{{item.ssjmxzDm}}</td>
      <td width="126" height="22" align="right" valign="middle">{{item.jmse==null?'':item.jmse.toFixed(2)}}</td>
      <td width="126" height="22" align="right" valign="middle">{{item.jze==null?'':item.jze.toFixed(2)}}</td>
      <td width="168" height="22" align="right" valign="middle">{{item.bqybtse==null?'':item.bqybtse.toFixed(2)}}</td>
      <td class="noBorder lastCol"></td>
    </tr>
    <tr>
      <td width="292" height="22" align="center" valign="middle" colspan="2">合计</td>
      <td width="168" height="22" align="center" valign="middle">--</td>
      <td width="168" height="22" align="center" valign="middle">--</td>
      <td width="168" height="22" align="center" valign="middle">--</td>
      <td width="168" height="22" align="center" valign="middle">--</td>
      <td width="168" height="22" align="right" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].bqynsehj==null?'':json.list[0].bqynsehj.toFixed(2)}}</span></td>
      <td width="168" height="22" align="right" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].bqyjsehj==null?'':json.list[0].bqyjsehj.toFixed(2)}}</span></td>
      <td width="168" height="22" align="center" valign="middle">--</td>
      <td width="168" height="22" align="right" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].jmehj==null?'':json.list[0].jmehj.toFixed(2)}}</span></td>
      <td width="126" height="22" align="right" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].xgmjzehj==null?'':json.list[0].xgmjzehj.toFixed(2)}}</span></td>
      <td width="168" height="22" align="right" valign="middle"><span v-if="json.list !== '' || json.list !== null">{{json.list[0].bqybtsehj==null?'':json.list[0].bqybtsehj.toFixed(2)}}</span></td>
      <td class="noBorder lastCol"></td>
    </tr>
    <tr>
      <td width="1902" height="22" align="left" valign="middle" colspan="12" class="noBorderBottom">谨声明：本纳税申报表是根据国家税收法律法规及相关规定填报的，是真实的、可靠的、完整的。</td>
    </tr>
    <tr>
      <td width="1000" height="22" align="right" valign="middle" colspan="8" class="noBorderTop noBorderRight">纳税人（签章）：</td>
      <td width="100" height="22" align="left" valign="middle" class="noBorderTop noBorderLeft noBorderRight"></td>
      <td width="802" height="22" align="left" valign="middle" colspan="3" class="noBorderTop noBorderLeft">年 月 日</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td width="292" height="22" align="left" valign="middle" colspan="2">经办人：</td>
      <td width="800" height="22" align="left" valign="middle" colspan="5">{{json.list[0].bsr}}</td>
      <td width="168" height="22" align="left" valign="middle">受理人：</td>
      <td width="689" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td width="292" height="22" align="left" valign="middle" colspan="2">经办人身份证号：</td>
      <td width="800" height="22" align="center" valign="middle" colspan="5">&nbsp;</td>
      <td width="168" height="22" align="left" valign="middle">受理税务机关（章）：</td>
      <td width="689" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td width="292" height="22" align="left" valign="middle" colspan="2">代理机构签章：</td>
      <td width="800" height="22" align="center" valign="middle" colspan="5">&nbsp;</td>
      <td width="168" height="22" align="left" valign="middle">受理日期： 年 月 日</td>
      <td width="689" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td width="292" height="22" align="left" valign="middle" colspan="2">代理机构统一社会信用代码：</td>
      <td width="800" height="22" align="center" valign="middle" colspan="5">&nbsp;</td>
      <td width="168" height="22" align="center" valign="middle">&nbsp;</td>
      <td width="689" height="22" align="center" valign="middle" colspan="4">&nbsp;</td>
      <td class="noBorder"></td>
    </tr>
  </table>
  <script type="text/javascript" src="/static/common/frame/jquery/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/static/common/frame/vue/vue.js"></script>
  <script type="text/javascript" src="/static/common/frame/taxTable/taxTable.js"></script>  
</body>

</html>