<html>

<head>
  <title>其他应税消费品消费税纳税申报表</title>
  <link rel="stylesheet" type="text/css" href="/static/common/frame/taxTable/taxTable.css">
</head>

<body "">
  <table cellspacing="0" cellpadding="0" width="976" id="taxTable">
    <tr>
      <td width="828" height="46" align="center" valign="middle" colspan="7" class="noBorder">
        <B>其他应税消费品消费税纳税申报表</B>
      </td>
    </tr>
    <tr>
      <td width="828" height="22" align="center" valign="middle" colspan="7" class="noBorder">税款所属时间：<span v-date>{{bt.sbSbxxBbmx.sssqQ}}</span>至<span v-date>{{bt.sbSbxxBbmx.sssqZ}}</span></td>
    </tr>
    <tr>
      <td width="502" height="22" align="left" valign="middle" colspan="5" class="noBorder">纳税人名称（公章）：{{bt.customerStateTaxInfo.nsrmc}}</td>
      <td width="326" height="22" align="right" valign="top" colspan="2" class="noBorder">纳税人识别号：{{bt.customerStateTaxInfo.nsrsbh}}</td>
    </tr>
    <tr>
      <td width="342" height="22" align="left" valign="middle" colspan="4" class="noBorder">填表日期：<span v-date>{{bt.sbSbxxBbmx.saveTime}}</span></td>
      <td width="486" height="22" align="right" valign="middle" colspan="3" class="noBorder">金额单位：元（列至角分）</td>
    </tr>
    <tr>
      <td width="256" height="44" align="center" valign="middle" colspan="3" rowspan="2" style="padding:0;background-image:url('/static/images/index/81_line.png');background-repeat:no-repeat;position:relative;background-size:100% 100%;image-rendering: -webkit-optimize-contrast;">
        <span style="position:absolute;right:10px;top:10px">项目</span>
        <span style="position:absolute;left:10px;bottom:10px">应税消费品名称</span>
      </td>
      <td width="86" height="44" align="center" valign="middle" rowspan="2">适用税率</td>
      <td width="160" height="44" align="center" valign="middle" rowspan="2">销售数量</td>
      <td width="160" height="44" align="center" valign="middle" rowspan="2">销售额</td>
      <td width="166" height="44" align="center" valign="middle" rowspan="2">应纳税额</td>
    </tr>
    <tr>
    </tr>
    <tr v-for='(item,index) in json.listlb'>
      <td width="256" height="22" align="center" valign="middle" colspan="3">{{item.zspmDm}}</td>
      <td width="86" height="22" align="right" valign="middle">{{item.sl1.toFixed(2)*100}}%</td>
      <td width="160" height="22" align="right" valign="middle">{{item.xssl.toFixed(3)}}</td>
      <td width="160" height="22" align="right" valign="middle">{{item.xse.toFixed(2)}}</td>
      <td width="166" height="22" align="right" valign="middle">{{item.ynse.toFixed(2)}}</td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="22" align="center" valign="middle" colspan="3">合计</td>
      <td width="86" height="22" align="center" valign="middle">--</td>
      <td width="160" height="22" align="center" valign="middle">--</td>
      <td width="160" height="22" align="center" valign="middle">--</td>
      <td width="166" height="22" align="right" valign="middle">{{item.hj === null ? '' : item.hj.toFixed(2)}}</td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="43" align="left" valign="middle" colspan="3">本期准予扣除税额：</td>
      <td width="246" height="43" align="right" valign="middle" colspan="2">{{item.bqzykcse.toFixed(2)}}</td>
      <td width="326" height="43" align="center" valign="middle" colspan="2">
        <B style="font-size:12px;">声明<br>此纳税申报表是根据国家税收法律的规定填报的，我确定它是真实的、可靠的、完整的。<br></B>
      </td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="30" align="left" valign="middle" colspan="3">本期减（免）税额：</td>
      <td width="246" height="30" align="right" valign="middle" colspan="2">{{item.bqjmse.toFixed(2)}}</td>
      <td width="326" height="30" align="left" valign="middle" colspan="2">经办人（签章）： 联系电话：<br>财务负责人（签章）：</td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="22" align="left" valign="middle" colspan="3">期初未缴税额:</td>
      <td width="246" height="22" align="right" valign="middle" colspan="2">{{item.qcwjse.toFixed(2)}}</td>
      <td width="326" height="22" align="center" valign="middle" colspan="2">（如果你已委托代理人申报，请填写）</td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="22" align="left" valign="middle" colspan="3">本期缴纳前期应纳税额：</td>
      <td width="246" height="22" align="right" valign="middle" colspan="2">{{item.bqjnqqynse.toFixed(2)}}</td>
      <td width="326" height="22" align="center" valign="middle" colspan="2">
        <B style="font-size:12px;">授权声明</B>
      </td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="25" align="left" valign="middle" colspan="3">本期预缴税额：</td>
      <td width="246" height="25" align="right" valign="middle" colspan="2">{{item.bqyjse.toFixed(2)}}</td>
      <td width="326" height="69" align="center" valign="middle" colspan="2" rowspan="3">为代理一切税务事宜，现授权 <br> （地址） 为<br>本纳税人的代理申报人，任何与本申报表有关的往来文件，都可寄予此人。<br>授权人签章：<br></td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="22" align="left" valign="middle" colspan="3">本期应补（退）税额：</td>
      <td width="246" height="22" align="right" valign="middle" colspan="2">{{item.bqybtse.toFixed(2)}}</td>
    </tr>
    <tr v-for='(item,index) in json.listbb'>
      <td width="256" height="22" align="left" valign="middle" colspan="3">期末未缴税额:</td>
      <td width="246" height="22" align="right" valign="middle" colspan="2">{{item.qmwjse.toFixed(2)}}</td>
    </tr>
	<tr style="border-right:1px solid #333" v-for='(item,index) in json.listbb'>
		<td width="256" height="22" align="left" valign="middle" colspan="3">办理人员身份证件类型</td>
		<td width="246" height="22" align="right" valign="middle" colspan="2">{{item.sfzjlx}}</td>
		<td width="160" height="22" align="center" valign="middle">办理人员身份证件号码</td>
		<td width="166" height="22" align="right" valign="middle">{{item.sfzjhm}}</td>
	</tr>    
    <tr>
      <td width="828" height="22" align="center" valign="middle" colspan="7" class="noBorder">
        <B style="font-size:12px;">以下由税务机关填写</B>
      </td>
    </tr>
    <tr>
      <td width="256" height="22" align="left" valign="middle" colspan="3" class="noBorder">受理人（签章）：</td>
      <td width="246" height="22" align="left" valign="middle" colspan="2" class="noBorder">&nbsp;</td>
      <td width="326" height="22" align="left" valign="middle" colspan="2" class="noBorder">受理税务机关（章）：</td>
    </tr>
  </table>
  <script type="text/javascript" src="/static/common/frame/jquery/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/static/common/frame/vue/vue.js"></script>
  <script type="text/javascript" src="/static/common/frame/taxTable/taxTable.js"></script>
</body>

</html>