<html>

<head>
  <title>权益性投资表</title>
  <link rel="stylesheet" type="text/css" href="/static/common/frame/taxTable/taxTable.css">
</head>

<body "">
  <table cellspacing="0" cellpadding="0" width="1042" height="707" id="taxTable" style="margin-top:30px;">
    <tr>
      <td width="1010" height="23" align="center" valign="middle" colspan="6" class="noBorder">
        <B>权益性投资表</B>
      </td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6" class="noBorder">税款所属时间：<span v-date>{{bt.sbSbxxBbmx.sssqQ}}</span>至<span v-date>{{bt.sbSbxxBbmx.sssqZ}}</span></td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6" class="noBorder">纳税人识别号：{{bt.customerStateTaxInfo.nsrsbh}}</td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6" class="noBorder">纳税人名称（公章）：{{bt.customerStateTaxInfo.nsrmc}}</td>
    </tr>
    <tr>
      <td width="1010" height="22" align="right" valign="middle" colspan="6" class="noBorder">填表日期：<span v-date>{{bt.sbSbxxBbmx.saveTime}}</span></td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6">
        <B style="font-size:14px">100权益性投资情况</B>
      </td>
    </tr>
    <tr>
      <td width="74" height="44" align="center" valign="middle" rowspan="2">行次</td>
      <td width="85" height="44" align="center" valign="middle" rowspan="2">月份</td>
      <td width="206" height="22" align="center" valign="middle">所有者权益金额</td>
      <td width="180" height="22" align="center" valign="middle">实收资本（股权）金额</td>
      <td width="285" height="22" align="center" valign="middle">资本公积金额</td>
      <td width="180" height="22" align="center" valign="middle">平均权益投资金额</td>
    </tr>
    <tr>
      <td width="206" height="22" align="center" valign="middle">1</td>
      <td width="180" height="22" align="center" valign="middle">2</td>
      <td width="285" height="22" align="center" valign="middle">3</td>
      <td width="180" height="22" align="center" valign="middle">4</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">1</td>
      <td width="85" height="22" align="center" valign="middle">1</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-1"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-1"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-1"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-1"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">2</td>
      <td width="85" height="22" align="center" valign="middle">2</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-2"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-2"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-2"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-2"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">3</td>
      <td width="85" height="22" align="center" valign="middle">3</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-3"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-3"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-3"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-3"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">4</td>
      <td width="85" height="22" align="center" valign="middle">4</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-4"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-4"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-4"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-4"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">5</td>
      <td width="85" height="22" align="center" valign="middle">5</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-5"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-5"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-5"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-5"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">6</td>
      <td width="85" height="22" align="center" valign="middle">6</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-6"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-6"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-6"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-6"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">7</td>
      <td width="85" height="22" align="center" valign="middle">7</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-7"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-7"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-7"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-7"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">8</td>
      <td width="85" height="22" align="center" valign="middle">8</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-8"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-8"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-8"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-8"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">9</td>
      <td width="85" height="22" align="center" valign="middle">9</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-9"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-9"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-9"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-9"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">10</td>
      <td width="85" height="22" align="center" valign="middle">10</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-10"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-10"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-10"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-10"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">11</td>
      <td width="85" height="22" align="center" valign="middle">11</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-11"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-11"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-11"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-11"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">12</td>
      <td width="85" height="22" align="center" valign="middle">12</td>
      <td width="206" height="22" align="right" valign="middle" v-fill.xtzblist.syzqyje='"ewbhxh-12"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.sszbje='"ewbhxh-12"'>0.00</td>
      <td width="285" height="22" align="right" valign="middle" v-fill.xtzblist.zbgjje='"ewbhxh-12"'>0.00</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-12"'>0.00</td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">13</td>
      <td width="85" height="22" align="center" valign="middle">合计</td>
      <td width="206" height="22" align="center" valign="middle">--</td>
      <td width="180" height="22" align="center" valign="middle">--</td>
      <td width="285" height="22" align="center" valign="middle">--</td>
      <td width="180" height="22" align="right" valign="middle" v-fill.xtzblist.pjqytzje='"ewbhxh-13"'>0.00</td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6">
        <B style="font-size:14px">200权益性投资股息、红利分配情况</B>
      </td>
    </tr>
    <tr>
      <td width="159" height="44" align="center" valign="middle" colspan="2" rowspan="2">股息、红利金额</td>
      <td width="386" height="22" align="center" valign="middle" colspan="2">其中分配给境外股东股息、红利金额</td>
      <td width="465" height="22" align="center" valign="middle" colspan="2">其中分配给境内股东股息、红利金额</td>
    </tr>
    <tr>
      <td width="206" height="22" align="center" valign="middle">境外关联方股东</td>
      <td width="180" height="22" align="center" valign="middle">境外非关联方股东</td>
      <td width="285" height="22" align="center" valign="middle">境内关联方股东</td>
      <td width="180" height="22" align="center" valign="middle">境内非关联方股东</td>
    </tr>
    <tr>
      <td width="159" height="22" align="center" valign="middle" colspan="2">1=2+3+4+5</td>
      <td width="206" height="22" align="center" valign="middle">2</td>
      <td width="180" height="22" align="center" valign="middle">3</td>
      <td width="285" height="22" align="center" valign="middle">4</td>
      <td width="180" height="22" align="center" valign="middle">5</td>
    </tr>
    <tr v-for='(item,index) in json.list'>
      <td width="159" height="22" align="right" valign="middle" colspan="2">{{item.gxhlje}}</td>
      <td width="206" height="22" align="right" valign="middle">{{item.jwglfgd.toFixed(2)}}</td>
      <td width="180" height="22" align="right" valign="middle">{{item.jwfglfgd.toFixed(2)}}</td>
      <td width="285" height="22" align="right" valign="middle">{{item.jnglfgd.toFixed(2)}}</td>
      <td width="180" height="22" align="right" valign="middle">{{item.jnfglfgd.toFixed(2)}}</td>
    </tr>
    <tr>
      <td width="1010" height="22" align="left" valign="middle" colspan="6">
        <B style="font-size:14px">300权益性投资股息、红利分配给前5位股东情况</B>
      </td>
    </tr>
    <tr>
      <td width="74" height="22" align="center" valign="middle">行次</td>
      <td width="291" height="22" align="center" valign="middle" colspan="2">股东名称</td>
      <td width="180" height="22" align="center" valign="middle">股东类型</td>
      <td width="285" height="22" align="center" valign="middle">国家（地区）</td>
      <td width="180" height="22" align="center" valign="middle">股息、红利金额</td>
    </tr>
    <tr v-for='(item,index) in json.qwwgdlist'>
      <td width="74" height="22" align="center" valign="middle">00{{index+1}}</td>
      <td width="291" height="22" align="left" valign="middle" colspan="2">{{item.gdmc}}</td>
      <td width="180" height="22" align="left" valign="middle">{{item.gdglflxDm}}</td>
      <td width="285" height="22" align="left" valign="middle">{{item.gjhdqszDm}}</td>
      <td width="180" height="22" align="right" valign="middle">{{item.gxhlje.toFixed(2)}}</td>
    </tr>
  </table>
  <script type="text/javascript" src="/static/common/frame/jquery/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/static/common/frame/vue/vue.js"></script>
  <script type="text/javascript" src="/static/common/frame/taxTable/taxTable.js"></script>
</body>

</html>