<html>
<head>
<title>非居民企业所得税季度和年度纳税申报表</title>
<link rel="stylesheet" type="text/css" href="/static/common/frame/taxTable/taxTable.css">
<style>
</style>
</head>
<body "">
<table cellspacing="0" cellpadding="0" width="1142" height = "1421" id="taxTable">
<tr>
<td  width="1076" height="46"  align="center" valign="middle" colspan="10" class="noBorder"><B>中　华　人　民　共　和　国</B></td>
</tr>
<tr>
<td  width="1076" height="29"  align="center" valign="middle" colspan="10" class="noBorder"><B>非居民企业所得税季度和年度纳税申报表</B></td>
</tr>
<tr>
<td  width="1076" height="22"  align="center" valign="middle" colspan="10" class="noBorder">(适用于核定征收企业)/(不构成常设机构和国际运输免税申报）</td>
</tr>
<tr v-for="item in json.list">
<td  width="1076" height="22"  align="center" valign="middle" colspan="10" class="noBorder">税款所属时间: <span v-date>{{bt.sbSbxxBbmx.sssqQ}}</span>至<span v-date>{{bt.sbSbxxBbmx.sssqZ}}</span></td>
</tr>
<tr v-for="item in json.list">
<td  width="451" height="22"  align="left" valign="middle" colspan="6" class="noBorder">纳税人识别号：{{item.nsrsbh}}</td>
<td  width="202" height="22"  align="left" valign="middle"  class="noBorder"></td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" class="noBorder">金额单位：人民币元（列至角分）</td>
</tr>
<tr v-for="item in json.list">
<td  width="216" height="22"  align="center" valign="middle" colspan="2">纳税人名称</td>
<td  width="437" height="22"  align="left" valign="middle" colspan="5" >{{item.nsrmc}}</td>
<td  width="184" height="22"  align="center" valign="middle" colspan="2" >居民国（地区）名称及代码</td>
<td  width="239" height="22"  align="left" valign="middle"  >{{item.jmgdqszDm}}</td>
</tr>
<tr>
<td  width="132" height="22"  align="center" valign="middle"  >行业或类型</td>
<td  width="944" height="22"  align="left" valign="middle" colspan="9" ><form><p><input class="radio" type="Radio" name="C7" value="1" :checked="json.list[0].hyhlx === '1'" disabled>1 承包工程作业、设计和咨询劳务<input  class="radio" type="Radio" name="C7" value="2" :checked="json.list[0].hyhlx === '2'" disabled>2 管理服务<input  class="radio" type="Radio" name="C7" value="3" :checked="json.list[0].hyhlx === '3'" disabled>3 其他劳务或劳务以外经营活动 <input  class="radio" type="Radio" name="C7" value="4" :checked="json.list[0].hyhlx === '4'" disabled>4 国际运输<input class="radio" type="Radio" name="C7" value="5" :checked="json.list[0].hyhlx === '5'" disabled>5 常驻代表机构</p></form></td>
</tr>
<tr v-for="item in json.list">
<td  width="132" height="22"  align="center" valign="middle"  >项目名称</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >{{item.xmmc}}</td>
<td  width="115" height="22"  align="center" valign="middle"  >项目编号</td>
<td  width="308" height="22"  align="left" valign="middle" colspan="2" >{{item.xmbh}}</td>
</tr>
<tr>
<td  width="216" height="44"  align="center" valign="middle" colspan="2" rowspan="2">是否享受协定待遇</td>
<td  width="93" height="44"  align="left" valign="middle"  rowspan="2"><form><p><input type="checkbox" name="D9" value="ON" :checked="json.list[0].sfxsxddy === '1'" disabled>是</p></form></td>
<td  width="142" height="22"  align="left" valign="middle" colspan="3" ><form><p><input type="checkbox" name="E9" value="ON" :checked="json.list[0].sfxsxddykz === '1'" disabled>不构成常设机构</p></form></td>
<td  width="202" height="22"  align="left" valign="middle"  ><form><p><input type="checkbox" name="E9" value="ON" :checked="json.list[0].sfxsxddykz === '2'" disabled>国际运输完全免税</p></form></td>
<td  width="184" height="22"  align="left" valign="middle" colspan="2" ><form><p><input type="checkbox" name="E9" value="ON" :checked="json.list[0].sfxsxddykz === '3'" disabled>国际运输减免税</p></form></td>
<td  width="239" height="44"  align="left" valign="middle"  rowspan="2"><form><p><input type="checkbox" name="K9" value="ON" :checked="json.list[0].sfxsxddy === '2'" disabled>否</p></form></td>
</tr>
<tr v-for="item in json.list">
<td  width="117" height="22"  align="center" valign="middle" colspan="2" >协定名称</td>
<td  width="411" height="22"  align="left" valign="middle" colspan="4" >{{item.ssxdDm}}</td>
</tr>
<tr>
<td  width="653" height="22"  align="center" valign="middle" colspan="7" >申　报　项　目</td>
<td  width="423" height="22"  align="center" valign="middle" colspan="3" >累计金额</td>
</tr>
<tbody id="list">

</tbody>
<tr v-for="item in json.list">
<td  width="132" height="374"  align="center" valign="middle"  rowspan="17">按经费支出换算应纳税所得额的计算</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >12.经费支出总额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsjfzcze.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　其中：工资薪金</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsgzxj.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　奖金</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsjj.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　津贴</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsjt.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　福利费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsflf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　物品采购费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchswpcgf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　装修费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchszxf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　通讯费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchstxf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　差旅费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsclf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　房租</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsfz.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　设备租赁费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchssbzlf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　交通费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsjtf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >　　　　　业务招待费</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsywzdf.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >         其他费用</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsqtfy.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >13.换算的收入额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchshsdsre.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >14.经税务机关核定的利润率（%）</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" v-percent>{{item.ajfzchshdlrl}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >15.应纳税所得额　15=13×14</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ajfzchsynssde.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="132" height="88"  align="center" valign="middle"  rowspan="4">按成本费用核定应纳税所得额的计算</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >16.成本费用总额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.acbfyhdcbfyze.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >17.换算的收入额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.acbfyhdhsdsre.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >18.经税务机关核定的利润率（%）</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" v-percent>{{item.acbfyhdhdlrl}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >19.应纳税所得额　19=17×18</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.acbfyhdynssde.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="132" height="44"  align="center" valign="middle"  rowspan="2">应纳企业所得税额的计算</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >20.税率（25%）</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3">{{item.sl1}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >21.应纳企业所得税额　21=11×20或15×20或19×20</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ynqysdse.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="132" height="66"  align="center" valign="middle"  rowspan="3">应补（退）所得税额的计算</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >22.国际运输减免所得税额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.gjysjmsdse.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >23.已预缴企业所得税额</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.yyjqysdse.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >24.应补（退）企业所得税额　24=21-22-23</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.ybtqysdse.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="132" height="154"  align="center" valign="middle"  rowspan="7">免税收入的申报</td>
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >25.免税收入  25=（1）+（2）+（3）+（4）+（5）+(6)</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.mssr.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >  （1）国债利息收入</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.gzlxsr.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >  （2）从居民企业取得与该机构、场所有实际联系的股息、红利</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.cjmqyqdygjgcsdgxhl.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >  （3）符合条件的非营利组织的收入</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.fhtjdfylzzdsr.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="521" height="22"  align="left" valign="middle" colspan="6" >  （4）取得的地方政府债券利息所得或收入</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.qddfzfzqlxsdsr.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="319" height="22"  align="left" valign="middle" colspan="5" >  （5）其他减免项目名称及减免性质代码：</td>
<td  width="202" height="22"  align="left" valign="middle"  >{{item.qtjmxmmcjjmxzdm1}}</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.qtjmxmljje1.toFixed(2)}}</td>
</tr>
<tr v-for="item in json.list">
<td  width="319" height="22"  align="left" valign="middle" colspan="5" >  （6）其他减免项目名称及减免性质代码：</td>
<td  width="202" height="22"  align="left" valign="middle"  >{{item.qtjmxmmcjjmxzdm2}}</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" >{{item.qtjmxmljje2.toFixed(2)}}</td>
</tr>
<tr>
<td  width="132" height="44"  align="center" valign="middle"  rowspan="2">声　明</td>
<td  width="944" height="22"  align="left" valign="middle" colspan="9" >　　谨声明：此纳税申报表是根据《中华人民共和国企业所得税法》及其实施条例和国家有关税收规定填报的，是真实的、可靠的、完整的。</td>
</tr>
<tr>
<td  width="944" height="22"  align="left" valign="middle" colspan="9" >                             声明人签字：                                                                年　月　日</td>
</tr>
<tr>
<td style="border-bottom:none" width="309" height="34"  align="left" valign="middle" colspan="3" >纳税人公章：</td>
<td style="border-bottom:none" width="344" height="34"  align="left" valign="middle" colspan="4" >代理申报<br>中介机构公章：</td>
<td style="border-bottom:none" width="423" height="34"  align="left" valign="middle" colspan="3" >主管税务机关：</td>
</tr>
<tr v-for="item in json.list">
<td  width="76" height="22"  align="left" valign="middle"   colspan="1">经办人：</td>
<td  width="191" height="22"  align="left" valign="middle"   colspan="2">{{item.jbr}}</td>
<td style="border-bottom:none;border-top:none" width="344" height="36"  align="left" valign="middle" colspan="4" >经办人及其执业证件号码：{{item.jbrzyzjhm}}</td>
<td style="border-bottom:none;border-top:none" width="423" height="36"  align="left" valign="middle" colspan="3" >受理人：{{item.slr}}</td>
</tr>
<tr v-for="item in json.list">
<td style="border-top:none" width="309" height="22"  align="left" valign="middle" colspan="3" >申报日期：<span v-date>{{item.sbrq1}}</span></td>
<td style="border-top:none" width="344" height="22"  align="left" valign="middle" colspan="4">代理申报日期：<span v-date>{{item.dlsbrq}}</span></td>
<td style="border-top:none" width="423" height="22"  align="left" valign="middle" colspan="3">受理日期：<span v-date>{{item.slrq}}</span></td>
</tr>
<tr>
<td  width="132" height="22"  align="left" valign="middle"  class="noBorder">&nbsp;</td>
<td  width="84" height="22"  align="left" valign="middle" class="noBorder" >&nbsp;</td>
<td  width="93" height="22"  align="left" valign="middle" class="noBorder" >&nbsp;</td>
<td  width="91" height="22"  align="left" valign="middle"  class="noBorder">&nbsp;</td>
<td  width="26" height="22"  align="left" valign="middle"  class="noBorder">&nbsp;</td>
<td  width="25" height="22"  align="left" valign="middle"  class="noBorder">&nbsp;</td>
<td  width="202" height="22"  align="left" valign="middle"  class="noBorder">&nbsp;</td>
<td  width="423" height="22"  align="right" valign="middle" colspan="3" class="noBorder">国家税务总局监制</td>
</tr>
</table>
<script type="text/javascript" src="/static/common/frame/jquery/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/static/common/frame/vue/vue.js"></script>
<script type="text/javascript" src="/static/common/frame/taxTable/taxTable.js"></script>
<script>
  $(document).ready(function(){
    var i;
  var arr = json.listzbs;
  var arr2 = json.list;
  var html = ''
  var index = '';
  var td1 = '<td  width="132" height="242"  align="center" valign="middle"  rowspan="11">按收入总额核定应纳税所得额的计算</td>'
  for(i=0; i<arr.length; i++) {
    index = i+1;
    html += "<tr>";
    html += "<td  width='84' height='66'  align='center' valign='middle'  rowspan='3' data-id='" + i + "'>项目" + index +"名称</td>";
    html += '<td  width="184" height="66"  align="left" valign="middle" colspan="2" rowspan="3">' + (arr[i].xmmc === null ? '' : arr[i].xmmc) + '</td>';
    html += '<td  width="253" height="22"  align="left" valign="middle" colspan="3" ><span class="index"></span>.收入额</td>';
    html += '<td  width="423" height="22"  align="right" valign="middle" colspan="3" >' + (arr[i].asrzehdsre === null ? '' : arr[i].asrzehdsre.toFixed(2)) + '</td>'
    html += '</tr>';
    html += '<tr>';
    html += '<td  width="253" height="22"  align="left" valign="middle" colspan="3" ><span class="index"></span>.经税务机关核定的利润率（%）</td>';
    html += '<td  width="423" height="22"  align="right" valign="middle" colspan="3" >' + (arr[i].asrzehdhdlrl === null ? '' : arr[i].asrzehdhdlrl * 100 + '%') + '</td>';
    html += '</tr>';
    html += '<tr>';
    html += '<td  width="253" height="22"  align="left" valign="middle" colspan="3" ><span class="index"></span>.应纳税所得额　3=1×2</td>';
    html += '<td  width="423" height="22"  align="right" valign="middle" colspan="3" >' + (arr[i].asrzehdynssde === null ? '' : arr[i].asrzehdynssde.toFixed(2)) + '</td>';
    html += '</tr>';
  }
  for(i=0; i<arr2.length; i++) {
    html += '<tr>';
    html += '<td  width="521" height="22"  align="left" valign="middle" colspan="6" >10.收入总额　10=1+4+7</td>';
    html += '<td  width="423" height="22"  align="right" valign="middle" colspan="3" >' + (arr2[i].asrzehdsrze === null ? '' : arr2[i].asrzehdsrze.toFixed(2)) + '</td>'
    html += '</tr>';
    html += '<tr>';
    html += '<td  width="521" height="22"  align="left" valign="middle" colspan="6" >11.应纳税所得额合计　11=3+6+9</td>';      
    html += '<td  width="423" height="22"  align="right" valign="middle" colspan="3" >' + (arr2[i].asrzehdynssdehj === null ? '' : arr2[i].asrzehdynssdehj.toFixed(2)) + '</td>'
    html += '</tr>';
  }
  $('#list').html(html)
  $('[data-id="0"]').before(td1)
  var len = arr.length*3;
  for (var i=0; i<len; i++) {
    $('.index').eq(i).text(i+1);
  }
});
</script>
</body>
</html>